.live-game-card {
    width: 25rem;
    padding: 0.5rem;
    text-align: center;
    background: var(--card-color);
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.live-game-card > h3 {
    padding: 0.2rem 0;
    color: var(--text);
}

.live-game-card-content{
    display: flex;
    justify-content: center;
}

.live-game-card-content > h1 {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: var(--text);
}

.live-game-card:hover {
    transform: scale(1.05);
}

.live-game-card-team-image {
    width: 4rem;
    height: 4rem;

    border-radius: 5px;
    margin: 1rem 3rem;
    padding: 0.30rem;
    box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.5);

    background: var(--background);
}

.live-game-card-title {
    font-weight: 500;
    color: var(--text);
}

.empty-games-list-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-games-galaxy{
    margin: 5rem;
    width: 50%;

    animation: galaxy-rotation 15s linear infinite;
}

@keyframes galaxy-rotation {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: rotateX(-20deg) rotateY(-15deg);
    }
    100% {
        transform: rotateX(0deg)rotateY(0deg);
    }
}

.games-list-container {
    display: flex;
    justify-content: center;
}

.games-list-items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 25rem);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
}