.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 5rem;

    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    background-color: var(--card-color);
}

.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-img {
    height: 2.5rem;
    width: 2.5rem;
    margin: 0 1rem;
}

.footer-img > path {
    fill: var(--logo-color);
}

.footer-icon {
    color: red;
    font: 500 1.25rem 'Inter', sans-serif;
}
