.navbar-container {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 5rem;

    background-color: var(--card-color);
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.4);
}

.navbar-logo-container{
    display: flex;
    justify-content: center;
}

.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.navbar-container::before, .navbar-logo-container, .toggle-container {
    content: '';
    flex-basis: 100%;
}

.navbar-icon-img {
    width: 2.5rem;
}

.navbar-icon-img > path {
    fill: var(--logo-color);
}

.navbar-icon {
    color: var(--title);
    font: 500 1.25rem 'Inter', sans-serif;
    margin-bottom: 0.5rem;
}

/*
theme toggle
 */

.toggle-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.theme-toggle {
    margin-left: 65%;
    cursor: pointer;
    height: 1.5rem;
    width: 2.5rem;
    border-radius: 50px;
    border: 3px solid var(--gray-line);
    background-color: var(--theme-switch-bg);
}

.notch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--theme-switch-notch);
    transform: translate(-50%, -20%);
    transition: all 0.5s;
}

.dark > .notch {
    transform: translate(50%, -20%);
}