.mini-health-bar {
    display: flex;
    align-items: center;
}

.mini-health-bar > div {
    flex: 1;
    border-radius: 4px;
    min-width: 5rem;
    background: var(--gray-line);
    position: relative;
}

.mini-health-bar > div > div {
    height: 28px;
    border-radius: 4px;
    transition: width 1s;
    background: var(--green);
}

span.mini-current-health {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: 400;
}

/*
 HEADER IMAGES
*/

.live-game-stats-header-team-images {
    display: flex;
    align-items: center;
}

.live-game-stats-header-team-images > h1 {
    flex: 1;
    text-align: center;
}

.live-game-stats-header-team-images > h1 > h3 {
    font-weight: 500;
    font-size: 1rem;
}

.live-game-stats-header-team-images > h3 {
    flex: 1;
    text-align: center;
}

.live-game-stats-header-team-images > .blue-team {
    flex: 1;
    display: flex;
    justify-content: center;

    width: 4rem;
    height: 4rem;

    border-radius: 5px;
    padding: 0.30rem;

    filter: drop-shadow(0px 0px 0px #222);

}

.live-game-stats-header-team-images > .red-team {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    justify-content: center;
    text-align: right;

    width: 4rem;
    height: 4rem;

    border-radius: 5px;
    padding: 0.30rem;
    filter: drop-shadow(0px 0px 0px #222);
}

/*
 HEADER STATUS
*/

.live-game-stats-header-status {
    margin-top: 1.5rem;
    display: flex;
}

.live-game-stats-header-status > .blue-team > .team-stats > svg > path {
    fill: var(--blue-twitter);
}

.live-game-stats-header-status > .blue-team > .team-stats > svg > g {
    fill: var(--blue-twitter);
}

.live-game-stats-header-status > .red-team > .team-stats > svg > path {
    fill: var(--red);
}

.live-game-stats-header-status > .red-team > .team-stats > svg > g {
    fill: var(--red);
}

.live-game-stats-header-status > .blue-team {
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-right: 15rem;
}

@media(max-width: 1080px) {
    .live-game-stats-header-status > .blue-team {
        margin-right: 10rem;
    }
}

@media(max-width: 720px) {
    .live-game-stats-header-status > .blue-team {
        margin-right: 1rem;
    }
}

.live-game-stats-header-status > .red-team {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: right;
}

.team-stats {
    color: var(--text);
    display: inline-block;
    text-align: center;
    width: 24px;
}

.team-stats > span {
    display: flex;
    justify-content: center;
}

/*
Gold bar
*/

.live-game-stats-header-gold {
    margin: 1rem 0;
    display: flex;
}

.live-game-stats-header-gold > .blue-team {
    border-bottom: 4px solid var(--blue-twitter);
}

.live-game-stats-header-gold > .red-team {
    border-bottom: 4px solid var(--red);
}

/*
Status dragons
*/
.live-game-stats-header-dragons{
    display: flex;
    min-height: 24px;
}

.live-game-stats-header-dragons > .blue-team {
    flex: 1;
}

.live-game-stats-header-dragons > .red-team {
    text-align: right;
    flex: 1;
}

.blue-team > .dragon {
    margin-right: 0.75rem;
}

.red-team > .dragon {
    margin-left: 0.75rem;
}

/*
 PLAYER
*/

.status-live-game-card {
    background: var(--card-color);
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}

.status-live-game-card-content {
    margin: 1.5rem 1.5rem;
    overflow-x: auto;
}

.status-live-game-card-table {
    width: 100%;
}

.player-champion-info {
    text-align: left;
    display: flex;
    align-items: center;
}

.player-champion-info-level{
    position: absolute;
    transform: translate(-50%, 100%);
    font-size: 12px;
}

.player-champion-info-name {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
}

.player-card-player-name {
    font-size: 10px;
}

.player-champion {
    width: 32px;
    border-radius: 50%;
    background: var(--gray-line);
}

.player-stats{
    color: var(--text)
}

.table-top-row-champion{
    width: 12rem;
}

.table-top-row-vida{
    height: 28px;
    width: 15rem;
}

.table-top-row-items {
    height: 28px;
    width: 12rem;
}

.table-top-row {
    height: 28px;
}

.player-stats {
    /*width: 64px;*/
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    font-weight: 400;
    background: var(--gray-line);
    text-align: center;
    border-radius: 3px;
}

.player-stats-kda {
    width: 28px;
}

/*

 */

.player-stats-items {
    height: 28px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--gray-line);
    border-radius: 4px;
}

.player-stats-item {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.player-stats-item  > img {
    height: 26px;
    border-radius: 4px;
}

/*

 */

.player-gold-positive {
    color: var(--green-positive);
    font-weight: 500;
}

.player-gold-negative {
    color: var(--red);
    font-weight: 500;
}

.loading-game-container {
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;
}

.loading-game-image{
    width: 20%;
}